.contactBlock {
    background-color: #fff;
    height: 50vh;
    padding: 100px 0 100px;
}

.containerContact {
    flex-direction: column;

}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactFormArea {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
}