.skillsBlock {
    min-height: 100vh;
    background-color: #facfcf;
}

.containerSkills {
    flex-direction: column;
}
.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}