.skillsBlock {
    min-height: 100vh;
    background-color: #fff;
}

.containerSkills {
    flex-direction: column;
}
.skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

@media screen and (max-width: 628px){
    .skills {
        justify-content: center;
    }
}