.footerBlock {
    background-color: #FAF8F9;
    padding: 40px 0 40px;
}

.containerFooter {
    flex-direction: column;
    align-items: center;
    color: #3c3e41;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 20px;
}

.soc {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px;
}