.projectsBlock {
    min-height: 50vh;
    background-color: #FAF8F9;
    padding: 100px 0 100px;
}

.containerProjects {
    flex-direction: column;
}

.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}